.header{
    height: 180px;
    width: 180px;
    color: black;
    border-radius: 50%;
    background-image: url('/images/my-img.png');
    background-position: 0 38%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

@media (max-width: 640px) {
    .header{
        height: 120px;
        width: 120px;
    
    }

   
}