
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lobster&family=Montserrat&family=Noto+Sans:wght@300&family=Open+Sans:wght@300&family=Russo+One&family=Unica+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(255, 255, 255);
  height: 100VH;
  
  

}

a {
  color: inherit;
  text-decoration: none;
}

