@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lobster&family=Montserrat&family=Noto+Sans:wght@300&family=Open+Sans:wght@300&family=Russo+One&family=Unica+One&display=swap');

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.footer{
  position: absolute;
  color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 9px;
  font-size: 1rem;
  font-family: 'Unica One', cursive;

}


@media (max-width: 640px) {
    .footer{
      font-size: 1rem;
    }

   
}